<div class="container">
  <div class="hero-unit">
    {{view Ember.TextField valueBinding="firstName"}}
    <br><br>
    <h2>Hello my name is {{firstName}}, {{lastName}}</h2>
    <p> This is just a basic <a target="_blank" href="emberjs.com">Ember.js</a> site...  </p>
    <i class="icon-flag icon-4x pull-left icon-border"></i><br>
    <a href="#" {{action showMessage}} class="btn btn-primary btn-large">{{buttonText}}</a>
    <br />
  </div>

  <div class="hero-unit">
    {{outlet}}
  </div>
</div> <!-- /container -->
