<div class="container">
  <div class="hero-unit">
    Name: {{view Ember.TextField valueBinding="firstName"}}
    <br>
    <h2>Hello my name is {{firstName}}, {{lastName}}</h2>

    <p>
      This is just a basic <a target="_blank" href="http://emberjs.com">Ember.js</a> site...
      <i class="icon-flag icon-1x pull-left icon-border"></i> 
    </p>

    <a href="#" {{action showMessage}} class="btn btn-primary btn-large">{{buttonText}}</a>
    <p>
      {{view Bootstrap.Well content="Important note about Ember and Bootstrap" }}
      {{view Bootstrap.Label type="important" content="Important"}}
    </p>
  </div>

  <div class="hero-unit">
    {{outlet}}
  </div>
</div> <!-- /container -->
